@import './variables';



#info {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "box1 empty box2"
    "box3 box4 box5"
    "box6 box6 box6"
    "box7 box8 box9";

    
}

#box1 {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: box1;
}

#box2 {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: box2;
}

#box3 {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: box3;
    h2 {
        margin-left: -15%;
    }
    svg {
        margin-left: -20%;
    }
}

#box4 {
    
    grid-area: box4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#box5 {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: box5;
}

#box6 {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: box6;
    p {
        display: inline;
        margin: 0 9.8px;
        margin-top: 35px;
    }
}

#box7 {
    margin-left: -20%;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: box7;
}

#box8 {
    margin-left: -20%;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: box8;
}

#box9 {
    margin-left: -20%;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: box9;
}

#side {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "sideBox1"
    "sideBox2"
    "sideBox3"
    "sideBox4"
    "sideBox5"
    "sideBox6"
    "sideBox7";
    div {
        border-bottom: 2px solid rgb(99, 99, 99);
    }
}

#sideBox1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    grid-area: sideBox1;
}
#sideBox2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    grid-area: sideBox2;
}
#sideBox3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    grid-area: sideBox3;
}
#sideBox4 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    grid-area: sideBox4;
}
#sideBox5 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    grid-area: sideBox5;
}
#sideBox6 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    grid-area: sideBox6;
}
#sideBox7 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    grid-area: sideBox7;
}